Repository josematosworks/angular-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, cspell, tsc-files --noEmit

Update Angular to 18
  package-lock.json
  package.json
Due: eslint, prettier --write

chore(dependencies): update angular-eslint packages to v18.4.0
  package-lock.json
  package.json
Due: eslint, prettier --write

chore(dependencies): update Angular CDK to version 18.2.10
  package-lock.json
  package.json
Due: eslint, prettier --write

chore(deps): update TypeScript to version 5.4.0
  package-lock.json
  package.json
Due: eslint, prettier --write

update semver
  package-lock.json
  package.json
Due: eslint, prettier --write

refactor(app): streamline tech display and enable husky hooks
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  package.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  tsconfig.json
Due: eslint, prettier --write, cspell, tsc-files --noEmit

test(app): update Angular component specs and refactor component
  .husky/pre-push
  .husky/prepare-commit-msg
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: eslint, prettier --write, cspell, tsc-files --noEmit

feat(app): add SVG icons and sanitize HTML for technologies
  src/app/app.component.ts
Due: eslint, prettier --write, cspell, tsc-files --noEmit

feat(app): integrate Tailwind CSS
  package-lock.json
  package.json
  src/app/app.component.ts
  src/styles.css
  tailwind.config.js
Due: eslint, prettier --write, cspell, tsc-files --noEmit

refactor: update AppComponent to be standalone and update Angular version reference
  package-lock.json
  package.json
  server.ts
  src/app/app.component.ts
Due: eslint, prettier --write, cspell, tsc-files --noEmit

chore: update angular cdk and eslint
  angular.json
  package-lock.json
  package.json
  tsconfig.spec.json
Due: eslint, prettier --write

fix: fix unit test
  src/app/app.component.spec.ts
Due: eslint, prettier --write, cspell, tsc-files --noEmit

fix: fix format
  src/app/app.component.ts
Due: eslint, prettier --write, cspell, tsc-files --noEmit

feat: add windsurf rules
  .windsurfrules
  README_.md
Due: eslint, prettier --write

chore: update readme and workspace words
  .eslintignore
  .vscode/settings.json
  README.md
Due: eslint, prettier --write

chore: update tailwind css to v4
  .postcssrc.json
  package-lock.json
  package.json
  src/styles.css
  tailwind.config.js
Due: eslint, prettier --write, cspell

chore: add words
  .cspell.json
Due: eslint, prettier --write

chore: add primeng
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.config.ts
  src/styles.css
Due: eslint, prettier --write, cspell, tsc-files --noEmit

chore: add primeng rules
  .cspell.json
  .vscode/settings.json
  .windsurfrules
Due: eslint, prettier --write

feat: add button component
  .cspell.json
  .vscode/settings.json
  src/app/shared/ui-kit/button/button.component.html
  src/app/shared/ui-kit/button/button.component.ts
  src/app/shared/ui-kit/button/button.styles.ts
  src/app/shared/ui-kit/button/button.types.ts
  tsconfig.app.json
Due: eslint, prettier --write, cspell, tsc-files --noEmit

chore: add word
  .vscode/settings.json
Due: eslint, prettier --write

feat: add storybook
  .cspell.json
  .eslintrc.json
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/storybook.css
  .storybook/tsconfig.doc.json
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  .vscode/settings.json
  angular.json
  documentation.json
  package-lock.json
  package.json
  src/app/shared/ui-kit/button/button.stories.ts
Due: eslint, prettier --write, cspell, tsc-files --noEmit

chore: move all words to cspell.json
  .cspell.json
  .vscode/settings.json
Due: eslint, prettier --write

chore: add new rules for ui-kit and storybook
  .windsurfrules
Due: none

fix: fix compodoc loading
  .storybook/preview.ts
  .storybook/typings.d.ts
Due: eslint, prettier --write, tsc-files --noEmit

chore: add known issues file
  .gitignore
  .storybook/preview.ts
  KNOWN-ISSUES.md
Due: eslint, prettier --write, tsc-files --noEmit

chore: add lucide icon library + update readme.md
  .cspell.json
  .eslintignore
  .windsurfrules
  README.md
  package-lock.json
  package.json
Due: eslint, prettier --write

chore: remove nx cloud references
  .github/workflows/ci.yml
  src/app/app.component.ts
Due: eslint, prettier --write, cspell, tsc-files --noEmit

fix: fix format and unit tests
  .github/workflows/ci.yml
  src/app/app.component.spec.ts
Due: eslint, prettier --write, cspell, tsc-files --noEmit

feat: add landing page
  .cspell.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/pages/landing/components/features-widget/features-widget.component.html
  src/app/pages/landing/components/features-widget/features-widget.component.ts
  src/app/pages/landing/components/footer-widget/footer-widget.component.html
  src/app/pages/landing/components/footer-widget/footer-widget.component.ts
  src/app/pages/landing/components/hero-widget/hero-widget.component.html
  src/app/pages/landing/components/hero-widget/hero-widget.component.ts
  src/app/pages/landing/components/highlights-widget/highlights-widget.component.html
  src/app/pages/landing/components/highlights-widget/highlights-widget.component.ts
  src/app/pages/landing/components/pricing-widget/pricing-widget.component.html
  src/app/pages/landing/components/pricing-widget/pricing-widget.component.ts
  src/app/pages/landing/components/topbar-widget/topbar-widget.component.html
  src/app/pages/landing/components/topbar-widget/topbar-widget.component.ts
  src/app/pages/landing/landing.scss
  src/app/pages/landing/landing.ts
Due: eslint, prettier --write, cspell, tsc-files --noEmit

chore: remove primeng
  .cspell.json
  .storybook/storybook.css
  .windsurfrules
  KNOWN-ISSUES.md
  README.md
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/pages/landing/components/hero-widget/hero-widget.component.html
  src/app/pages/landing/components/hero-widget/hero-widget.component.ts
  src/app/pages/landing/components/pricing-widget/pricing-widget.component.html
  src/app/pages/landing/components/pricing-widget/pricing-widget.component.ts
  src/app/pages/landing/components/topbar-widget/topbar-widget.component.html
  src/app/pages/landing/components/topbar-widget/topbar-widget.component.ts
  src/app/pages/landing/landing.ts
  src/app/shared/ui-kit/button/button.component.html
  src/app/shared/ui-kit/button/button.component.ts
  src/app/shared/ui-kit/button/button.stories.ts
  src/app/shared/ui-kit/button/button.styles.ts
  src/app/shared/ui-kit/button/button.types.ts
Due: eslint, prettier --write, cspell, tsc-files --noEmit

Path conditions:
  eslint: any of: **/*.{js,ts,html,json,md}
  prettier --write: any of: **/*.{js,ts,html,css,md,json,sh}
  cspell: any of: src/**/*
  tsc-files --noEmit: any of: **/*.ts
